/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #FFFACC;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* start global classes */

body {
  background-color: white;
  padding: 1em;
}

.mainColor {
  background-color: #FFFFFF;
}

.secondColor {
  background-color: #FFFACC;
}

.thirdColor {
  background-color: #8C0712;
}

.tCenter {
  text-align: center;
}

.btn {
  height: .5em;
  line-height: .5em;
  background-color: #8c0712;
  color: white;
  padding: .2em .5em;
  margin: 2em;
}

.flex {
  display: flex;
  align-content: center;
}

.icon {
  width: 10%;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
}

/* end global classes */


/* start common rules */

a:hover {
  color:black;
}

.img {
  width: 25%;
}

header section, footer {
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

input:focus, textarea:focus {
  background-color: #e6e6e6;
}

ul, li, nav {
  list-style-type: none;
}

section {
  margin-bottom: 1.5em;
}

.place {
  display: inline-block;
}

.font {
    font-family: 'BioRhyme Expanded', serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-style: italic;
    color: #8C0712;
    text-shadow: 4px 4px 4px #aaa;
}

h2, caption {
    margin: 50px 50px 0 50px;
    text-decoration: underline;
    font-size: 1.5em;
    color: black;
}

h3 {
  font-size: 1em;
  margin: 1.5em;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  font-weight: normal;
  color: black;
}


/*End common rules*/



/* Start Header style*/

.displayed {
    display: block;
    margin: auto;
    width: 75%;
    border: 5px solid black;
    padding: .5em;
  }

.logo {
  width: 10%
}

nav, aside li {
    justify-content: space-around;
    text-decoration: none;
}

nav, aside {
    margin: .5em;
  }

nav ul li {
    margin: 0 .5em;
}

/*End header style*/



/* Start footer style*/

footer {
  text-align: center;
  margin-top: 1em;
}

/*End footer style*/



/* Start index main style*/
.shadow {
  box-shadow: 6px 6px 6px black;
  border: 1px solid black;
  margin-top: 2em;
}

.bio {
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.welcome {
  width: 50%;
  text-align: center;
  padding: 3em;
}

.article {
  width: 30%;
  text-align: center;
  padding: .5em;
  margin-left: .5em;
}

.mainArticle {
  width: 80%;
  justify-content: center;
  align-content: center;
  margin: auto;
}

p, table {
  text-align: justify;
  padding: 12px;
  font-size: 1em;
  color: #080705;
}

.pArticle {
  width: 80%;
  text-align: justify;
  padding: 12px;
  font-size: 1em;
  color: #080705;
}

/*End index main style*/


/* Start contact main style*/
.contact {
  width: 60%
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

/*End contact main style*/


/* Start biographie main style*/
table {
  border-collapse: collapse;
  margin-bottom: 2em;
}

td {
  border: solid 1px black;
  background-color: #FFFACC;
}

/*End biographie main style*/

/* start 404 style */



/* End 404 style */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
