/*
style.css
---------

Par Genevieve
*/

body {
    background-color: #FFFACC;
}

a:hover
{
  color:#8c0712;
}

h1
{
  font-family: 'BioRhyme', serif;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  color: #8C0712;
  text-shadow: 4px 4px 4px #aaa;
}

h2
{
  font-family: 'BioRhyme', serif;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #black;
}

p
{
  width: 60%;
  text-align: justify;
  padding: 12px;
  font-size: 1em;
  color: #080705;
}

input:focus
{
  background-color: #e6e6e6;
}

textarea:focus
{
  background-color: #e6e6e6;
}
