/*
style.css
---------

Par Genevieve
*/

body {
    background-color: #FFFACC;
}

a:hover
{
  color:#8c0712;
}

img.displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



h1
{
  font-family: 'BioRhyme', serif;
  font-family: 'BioRhyme Expanded', serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  color: #8C0712;
  text-shadow: 4px 4px 4px #aaa;
}

h2
{
  font-family: 'BioRhyme Expanded', serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #black;
}

h3
{
  font-family: 'BioRhyme Expanded', serif;
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  color: #black;
}

h4
{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
  color: #black;
}

p
{
  width: 70%;
  text-align: justify;
  padding: 12px;
  font-size: 1em;
  color: #080705;
  margin: left;
}

.p1
{
  width: 80%;
  text-align: justify;
  padding: 12px;
  font-size: 1em;
  color: #080705;
  margin: left;
}

input:focus
{
  background-color: #e6e6e6;
}

textarea:focus
{
  background-color: #e6e6e6;
}

#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 0 50px;
}

.element1
{
  width: 90%;
  margin: 20px 50px 50px 100px;
  text-align: center;
  align-content: center;
  align-items: center;
}
